.vscode
chess_puzzleDB1.db
chess_puzzleDB1.sqbpro
app.exe
go.mod
go.sum

chess/chess_puzzles/*.csv
chess/chess_puzzles

rag/node_modules
rag/node_modules/**
rag/**/node_modules/

rag/.next/**

*.db
*.sqlite
*.sqlite3
*.sqbpro

*.exe
*.dll
*.so
*.dylib
*.zip
*.tar
*.tar.gz
*.tgz
*.rar
*.7z
*.iso

*.mp4
*.mov
*.mkv
*.avi
*.mp3
*.wav

dist/
build/
out/
